@use '@/styles/variables.scss' as *;

.resultPage {
  min-height: 100vh;
  padding: 120rpx $page-padding $spacing-lg;
}

.heroSection {
  text-align: center;
  padding: 290rpx 0 $spacing-xl;
}

.scoreCircle {
  @include flex-center;
  margin: 0 auto 0rpx;
  margin-top: 0;// 考试等级
}

.scoreNum {
  font-size: 60rpx;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
}

.scoreDen {
  font-size: $font-size-md;
  color: $color-text-primary;
}

.gradeText {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  color: $color-text-primary;
  margin-bottom: $spacing-sm;
  margin-top: 0rpx; //考试等级
}

.rateText {
  font-size: $font-size-lg;
  color: $color-primary;
  margin-top: 20rpx;
}

.statsSection {
  display: flex;
  gap: $spacing-md;
  margin-bottom: 21rpx;
  margin-top: 40rpx;
}

.statCard {
  flex: 1;
  width: calc(33.333% + 4rpx);
  border-radius: $radius-md;
  padding-left: 108rpx; //修改结果文字位置
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: none;
  aspect-ratio: 13 / 10;
}

.statValue {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
  margin-bottom: 8rpx;
}

.statLabel {
  font-size: $font-size-sm;
  color: $color-text-secondary;
}

.actionSection {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  margin-top: 20rpx;
}

.primaryButton, .outlineButton {
  @include button-reset;
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: $radius-button;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  transition: all $transition-base;
  aspect-ratio: 15 / 3;

  &:active {
    opacity: 0.9;
    transform: scale(0.98);
  }
}

.primaryButton {
  color: $color-text-primary;
  background: none;
}

.outlineButton {
  color: $color-text-primary;
  background: none;
  border: none;
}

.errorText {
  font-size: $font-size-md;
  color: $color-error;
  text-align: center;
  margin-bottom: $spacing-md;
}

.backButton {
  @include button-reset;
  width: 100%;
  height: $button-height-md;
  background: $color-primary;
  border-radius: $radius-sm;
  color: $color-text-white;
  font-size: $font-size-md;
}